
.placeImg 
{
    text-align: center;
    
}


.ico {
    width : 7%;
    height : 7%;
    
}

.background {
    background-image:url(fond_index.png);

    background-position: center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: 70%;

    min-height: 100vh;

}

body { 

    overflow: hidden ; 
    background-color: darkslategrey;
} 