.titre
{
    background-color:black; 
    color: white;
    
}


.body 
{
    background-color: black;
}
h1, h2 
{
    font-weight: bold;
}

.grand 
{
    font-size: 160%;
}

.placeImg 
{
    text-align: center;
    
}

a{
    color: green;
}

img
{
    border: 1px black solid;
    padding: 12px;
}