.titre
{
    font-weight: bold;
    
}



h1, h2 
{
    font-weight: bold;
}


.placeImg 
{
    text-align: center;
    
}

a{
    color: white;
    border: 1px black solid;
    background-color: black;
}



.background {
    background-image:url(fond_index.png);

    background-position: center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: 70%;

    min-height: 100vh;

}

body { 

    overflow: hidden ; 
    background-color: darkslategrey;
} 