.titre
{
    background-color:black; 
    color: white;
    
}



h1, h2 
{
    font-weight: bold;
}


.placeImg 
{
    text-align: center;
    
}

a{
    color: white;
    border: 1px black solid;
    background-color: black;
}

body {
    background-color: black;
    background-image:url(img_normale.png);
    margin:0;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: contain;

}
img
{
    
    padding: 12px;
}